.main-div {
  position: absolute;
  top: 10vh;
  padding: 40px;
  width: 100%;
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.items ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 40px; */
}

.items>ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  justify-items: center;
  list-style: none;
}